[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = "==2.0.1"
faster-whisper = "*"
transformers = "*"
gradio = "*"
pytube = "*"
"pyannote.audio" = "==3.3.1"
pysrt = "*"
openai-whisper = {git = "https://github.com/jhj0517/jhj0517-whisper.git"}
qrcode = "*"
ipython = "*"
openai = "*"
tenacity = "*"
termcolor = "*"
librosa = "*"
torchaudio = "==2.2.0"
wtpsplit = "*"
soundfile = "*"
ffmpeg = "*"
trochvision = "==0.17.0"

[dev-packages]

[requires]
python_version = "3.10"
