torch==2.0.1
faster-whisper
transformers
gradio
pytube
pysrt
qrcode
ipython
openai
tenacity
termcolor
librosa
torchaudio==2.2.0
trochvision==0.17.0
wtpsplit
soundfile
ffmpeg 
pyannote.audio==3.3.1
rouge